{{- if .Values.rbac.create }}
{{ .Files.Get "generated/role.yaml" | replace "name: trivy-operator" (printf "name: %s" (include "trivy-operator.fullname" .)) }}

{{- if .Values.operator.accessGlobalSecretsAndServiceAccount -}}
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - update
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - get
- apiGroups:
    - ""
  resources:
    - nodes/proxy
  verbs:
    - get
{{- end }}
{{- end }}
